/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Aug-2016, 14:19:10
    Author     : Rando
*/

.screenBackground rect {
    fill: #FFDAAA;
}

.section {
    background-attachment: fixed; 
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section1{
    background-color: #256F5C;
}

#section2 {
    background-color: #AA7939;
}

#section3 {
    background-color: #AA3939;
}

#section4 {
    background-color: #256F5C;
}

h1, p {
    text-align: center;
}

.statusLightsGreen, .statusLightsGreen2 {
    fill: green;
}

.statusLightsOrange {
    fill: orange;
}

.statusLightsWhite {
    fill: white;
}

#pointer {
    -webkit-transform: rotate(-60deg);
    -webkit-transform-origin: 100% 20%;
}

#outerSquare {
    fill: black !important;
    fill-opacity: 0 !important;
}