/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Aug-2016, 14:19:10
    Author     : Rando
*/

.section {
    /* the important one*/
    background-attachment: fixed; 
 
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section1 {
    background-color: #277554;
}

.nameSection h1, h2{
    padding-left: 15%;
}

.nameSection h1 {
    color: black;
}

.nameSection h2 {
    font-size: 20pt;
    color: black;
}

.nameSection i {
    padding-top: 15px;
    font-size: 80pt;
    color: black;
}










#section2 {
    background-color: #294F6D;
}
#section3 {
    background-color: #609732;
}
#section4 {
    background-color: #277554;
}